.store{
 text-decoration: underline;
}

.list-options{
    list-style: none;
}


.header {
    background-color: #333;
    color: red;
    padding: 10px;
    text-align: center;
  }

  .container {
    display: flex;
    background-color: midnightblue;
    font-size: medium;
    color: white;
  }

  .line1{
    display: flex;
    gap:1000px;
  }

.lines{
    display: flex;
    gap: 1000px;
}

  .sidebar {
    width: 200px;
    background-color: black;
    padding: 20px;
    float: left;
  }

  .main-content {
    flex: 1;
    padding: 20px;
  }

  